/* Селектор розмірів */
.size-selector { 
    display: flex; 
    gap: 8px; 
    margin-bottom: 15px; 
    flex-wrap: wrap;
}

.size-btn {
    border: 1px solid #ddd;
    background: transparent;
    min-width: 35px; /* Квадратні кнопки */
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--primary-color);
    text-transform: uppercase;
}

.size-btn:hover { border-color: var(--primary-color); }

/* Активний розмір (чорний фон, білий текст) */
.size-btn.active {
    background: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}